<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="engineBean"
          class="org.example.car.MegaEngine">
        <constructor-arg value="Aboba"/>
    </bean>

    <bean id="carBean"
          class="org.example.car.Car">
        <constructor-arg ref="engineBean"/>
    </bean>

</beans>